<div class="container" style="min-height: 550px; max-width: 100%;">  
    <div class="mt-2 mb-2">
      <a class="btn-back pl-3" (click)="backBtn()"><i class="fa fa-chevron-left"></i></a>
      <button class="btn btn-add-custom animation-on-hover" style="margin-right: 10px;" type="button" (click)="downloadTimeSheet()">Download</button>
      <button class="btn btn-add-custom animation-on-hover" style="margin-right: 10px;" type="button" (click)="newTask()">New Time</button>
      <span class="timeSheet-top-text pull-right" >Pay Period {{payPeriod}} ending {{dayEndDate}} {{monthEndDate}} {{yearEndDate}}</span>
    </div> 
    <div class="row pl-3 pr-3">
      <div class="mt-2 mb-2 w-100">
        <span class="pull-left name-time-sheet" >{{staffName}} {{staffFamily}}</span>
        <!-- <span class="pull-right name-time-sheet" >TOTAL TIME {{staffTotalTime}}</span> -->
        <span class="pull-right name-time-sheet" >TOTAL TIME {{totalPerTime}}</span>

      </div>
    </div>
    <div class="page_title">
        <i class="cui-calendar title_icon"></i>
        TimeSheet
    </div>  
      <div class="card mt-4 bg-none">    
        <div class="card-body p-0">            
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
          </mat-form-field>

          <div class="mat-elevation-z8 example-container">
            <table class="w-100" mat-table [dataSource]="dataSource" matSort>            
              <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> DATE </th>
                <td mat-cell *matCellDef="let row"> {{row.date}} </td>
              </ng-container>
          
              <ng-container matColumnDef="startDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> STARTING </th>
                <td mat-cell *matCellDef="let row"> {{row.startDate}} </td>
              </ng-container>
              
              <ng-container matColumnDef="endDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ENDING </th>
                <td mat-cell *matCellDef="let row">  {{row.endDate}} </td>
              </ng-container>

              <ng-container matColumnDef="duration">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> DURATION </th>
                <td mat-cell *matCellDef="let row">  {{row.duration}} </td>
              </ng-container>

              <ng-container matColumnDef="jobNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> # JOB </th>
                <td mat-cell *matCellDef="let row">  {{row.jobNumber}} </td>
              </ng-container>

              <ng-container matColumnDef="activity">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ACTIVITY </th>
                <td mat-cell *matCellDef="let row">  {{row.activity}} </td>
              </ng-container>

              <ng-container matColumnDef="note">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> NOTE </th>
                <td mat-cell *matCellDef="let row">  {{row.note}} </td>
              </ng-container>
              
              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ACTIONS </th>
                <td mat-cell *matCellDef="let row" [style.color]="row.color">
                  <span (click)="editTimeSheet(row)" class="edit-table-icon"><i class="fa fa-edit"></i></span>
                  <span (click)="deleteTimeSheet(row)" class="delete-table-icon"><i class="fa fa-remove"></i></span>
                </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;">
              </tr>
            </table>              
              <mat-paginator [pageSizeOptions]="[10, 40, 100, 150]"></mat-paginator>
            </div>      
          </div>
        </div>
    </div>
  
  
 <!-- Modal -->
 <div id="timeSheetGridModal" class="modal fade bd-example-modal-xl" role="dialog">
    <div class="modal-dialog modal-lg">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 *ngIf="!editMode" class="modal-title">Insert Time Sheet</h4>
          <h4 *ngIf="editMode" class="modal-title">Update Time Sheet</h4>
        </div>
        <div class="modal-body">
          <div class="col-md-12 col-xl-12 ">

              <div class="row margin_top">
                <div class="col-md-12 col-xl-12">
                  <mat-form-field class="w-100">
                    <mat-label class="label-font-size">
                      {{selectedJobValue}}
                    </mat-label>
                    <mat-select [(ngModel)]="timeSheet.jobCo">
                      <mat-option *ngFor="let job of jobs" [value]="job.FldPkJobCo">
                        {{job.FldJobNumber}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>      
                </div>               
              </div>

              <div class="row margin_top">
                <div class="col-md-12 col-xl-12">
                  <mat-form-field class="w-100">
                    <mat-label class="label-font-size">
                      {{selectedActivityValue}}
                    </mat-label>
                    <mat-select [(ngModel)]="timeSheet.activityCo">
                      <mat-option *ngFor="let activity of activities" [value]="activity.FldPkActivityCo">
                        {{activity.FldActivityDesc}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>      
                </div>               
              </div>

              <!-- <div class="row margin_top">
                <div class="col-md-12 col-xl-12">
                  <mat-form-field class="w-100">
                    <mat-label class="label-font-size">
                      {{selectedStaffValue}}
                    </mat-label>
                    <mat-select [(ngModel)]="timeSheet.staffCo">
                      <mat-option *ngFor="let staff of staffs" [value]="staff.FldPkStaffCo">
                        {{staff.FldName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>      
                </div>               
              </div> -->

              <div class="row margin_top">
                  <div class="col-md-12 col-xl-12">              
                    <mat-form-field class="w-100">
                        <mat-label class="label-font-size">Note</mat-label>
                      <textarea matInput [(ngModel)]="timeSheet.note"></textarea>
                    </mat-form-field>
                  </div>                         
                </div>

              <div class="row margin_top" *ngIf="editMode">
                <div class="col-md-12 col-xl-12">  
                  <mat-form-field class="w-100">
                    <mat-label class="label-font-size">Date</mat-label>
                    <input style="color: #aaa;" matInput [matDatepicker]="picker" placeholder="Date" [(ngModel)]="timeSheet.date" disabled>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field> 
                </div>                         
              </div>               
                
              <div class="row margin_top" *ngIf="!editMode">
                <div class="col-md-12 col-xl-12">  
                  <mat-form-field class="w-100">
                    <mat-label class="label-font-size">Date</mat-label>
                    <input style="color: #aaa;" matInput [matDatepicker]="picker" placeholder="Date" [(ngModel)]="timeSheet.date" disabled>{{todayDate}}
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>      
                </div>                         
              </div>               
                
                <div class="row margin_top">
                  <div class="col-md-12 col-xl-12">              
                      <mat-form-field class="w-100">            
                        <mat-label class="label-font-size">Start Time</mat-label>
                        <input matInput 
                         placeholder="Started"
                         [(ngModel)]="timeSheet.startTime"
                         class="form-control mt-2 input-height m-b--20"
                         id="Started"
                         style="margin-bottom: -3px !important;"
                         [owlDateTimeTrigger]="dt3"
                         [owlDateTime]="dt3">
                        <owl-date-time [pickerType]="'timer'" #dt3 ></owl-date-time>
                      </mat-form-field>
                  </div>                         
                </div>
                
                <div class="row margin_top">
                  <div class="col-md-12 col-xl-12">              
                      <mat-form-field class="w-100">            
                          <mat-label class="label-font-size">End Time</mat-label>
                          <input
                          matInput
                          placeholder="Ended"
                          [(ngModel)]="timeSheet.endTime"
                          class="form-control mt-2 input-height m-b--20"
                          id="Ended"
                          style="margin-bottom: -3px !important;"
                          [owlDateTimeTrigger]="dt4"
                          [owlDateTime]="dt4">
                        <owl-date-time [pickerType]="'timer'" #dt4 ></owl-date-time>
                      </mat-form-field>
                  </div>                         
                </div>          
          </div>
        </div>
        <div class="modal-footer">
          <button *ngIf="!editMode" type="button" class="btn btn-warning btn_modal_submit" (click)= "saveTimeSheet()">Insert</button>
          <button *ngIf="editMode" type="button" class="btn btn-warning btn_modal_submit" (click)= "saveTimeSheet()">Update</button>
          <button type="button" class="btn btn-danger btn_modal_submit" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>