<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100 p-t-100 p-b-30">
      <form class="login100-form validate-form form-signin"  #form="ngForm">
        <div class="login100-form-avatar">
          <img src="../../assets/images/logo.png">
        </div>
        <div class="wrap-input100 validate-input m-b-10" data-validate="Username is required">
          <input class="input100"  placeholder="User" required autofocus
                 type="text" placeholder="Username" [(ngModel)]="model.username"  name="username">
          <span class="focus-input100"></span>
          <span class="symbol-input100">
							<i class="fa fa-user"></i>
						</span>
        </div>

        <div class="wrap-input100 validate-input m-b-10" data-validate="Password is required">
          <input class="input100" type="password"  placeholder="Password" required
               [(ngModel)]="model.password" name="password">
          <span class="focus-input100"></span>
          <span class="symbol-input100">
							<i class="fa fa-lock"></i>
						</span>
        </div>
        <!-- <div id="recapcha2"  style="margin: 0 auto;">
          <p>
            <re-captcha (resolved)="resolvedRemember($event)" [siteKey]="siteKey"></re-captcha>
          </p>
        </div> -->
        <div class="container-login100-form-btn p-t-10">
          <button class="login100-form-btn" (click)="login()">
            Login
          </button>
        </div>

        <div class="text-center w-full p-t-25 p-b-40">
          <a (click)="forgetPass()" class="txt1" style="cursor: pointer;">
            Forgot Username / Password?
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
