<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100 p-t-100 p-b-30">
      <form class="login100-form validate-form form-signin"  #form="ngForm">
        <div class="login100-form-avatar">
          <img src="../../assets/images/logo.png">
        </div>
        <div class="wrap-input100 validate-input m-b-10" data-validate="email is required">
          <input class="input100"  placeholder="Email" required autofocus
                 type="text" placeholder="email" [(ngModel)]="model.email"  name="email">
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="fa fa-envelope"></i>
          </span>
        </div>
        <div class="container-login100-form-btn p-t-10">
          <button class="login100-form-btn" (click)="changePass()">
            Send 
          </button>
        </div>
        
        <div class="text-center w-full p-t-25 p-b-40">
          
        </div>
      </form>
    </div>
  </div>
</div>
