<div class="container" style="min-height: 550px; max-width: 100%;">  
    <div class="mt-2 mb-2">
        <button class="btn btn-add-custom animation-on-hover" type="button" (click)="newJobType()">New Job Type</button>
      </div>
      <div class="page_title">
        <i class="cui-check title_icon"></i>
        Jobs Type
      </div>
  <div class="card mt-4 bg-none">
    <div class="card-body p-0">
        <!-- <div style="text-align: center" class="col-12" *ngIf="loading">
            <img src="../../../assets/images/loading.gif" style="margin-top:40px" width="230" height="230"/>
        </div> -->
      <!-- <div id="jobTypeHolder ">
        <div id="JobTypeGrid">
  
        </div>
      </div> -->

      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
      
      <div class="mat-elevation-z8 example-container">
        <table class="w-100" mat-table [dataSource]="dataSource" matSort>
          
          <ng-container matColumnDef="typeDesc">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> JOBS TYPE </th>
            <td mat-cell *matCellDef="let row"> {{row.typeDesc}} </td>
          </ng-container>
                
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ACTIONS </th>
            <td mat-cell *matCellDef="let row" [style.color]="row.color">
              <span (click)="editJobType(row)" class="edit-table-icon"><i class="fa fa-edit"></i></span>
              <span (click)="deleteJobType(row.jobTypeCo)" class="delete-table-icon"><i class="fa fa-remove"></i></span>
            </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;">
          </tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[10, 40, 100, 150]"></mat-paginator>
      </div>

    </div>
  </div>
  </div>
  
  
  <!-- Modal -->
  <div id="jobTypeModal" class="modal fade bd-example-modal-xl" role="dialog">
  <div class="modal-dialog modal-lg">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 *ngIf="!editMode" class="modal-title">Insert Job Type</h4>
        <h4 *ngIf="editMode" class="modal-title">Update Job Type</h4>
      </div>
      <div class="modal-body">
        <div class="col-md-12 col-xl-12 ">
          <div class="row margin_top">
              <div class="col-md-12 col-xl-12">
                <mat-form-field class="w-100">
                  <mat-label class="label-font-size">Jobs Type</mat-label>
                  <input matInput placeholder="Jobs Type" [(ngModel)]="jobsType.typeDesc">
                </mat-form-field>
              </div>
            </div>           
        </div>
      </div>
      <div class="modal-footer">
          <!-- <div *ngIf="saveLoading">
              <img src="../../../assets/images/saveLoading.gif" width="28"/>
          </div> -->
        <button type="button" *ngIf="!editMode" class="btn btn-warning btn_modal_submit" (click)="saveJobsType()">Insert</button>
        <button type="button" *ngIf="editMode" class="btn btn-warning btn_modal_submit" (click)="saveJobsType()">Update</button>
        <button type="button" class="btn btn-danger btn_modal_submit" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
  </div>
  